<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contul meu</title>
  <link rel="stylesheet" href="public/css/styles_animale_fara_Stapan.css">
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="public/vendor/aos/aos.css" rel="stylesheet">
  <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->


</head>

<body>
          <h1>Animale fără stăpân</h1>
        <p class="titlu">Ajută-le să-și găsească familia.</p>


  <div class="data">
  <p>Nume:</p>
  <p>Prenume:</p>
  <p>Email:</p>
  <p>Numar de telefon:</p>
  <img class="imagine" src="" alt="image-animal">
  </div>



</body>

</html>
