
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Anunturile mele</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="public/img/favicon.png" rel="icon">
  <link href="public/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="public/vendor/aos/aos.css" rel="stylesheet">
  <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="public/css/styles_anunturile_mele.css" rel="stylesheet">
</head>
<body style = "background-image:url(public/img/paws5.jpg);">


<h1>Anunțurile mele</h1>

<div>
  <img class="imagine" src="" alt="imagine_animal">
  <p>Numele animalului:</p>
  <p>Tipul animalulul:</p>
  <p>Rasa animalului:</p>
  <p>Culoarea animalului:</p>
  <p>Varsta animalului:</p>

</div>

<a href="/" class="myButton">Back to Home</a>




</body>
</html>
