<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OnePage Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="public/img/favicon.png" rel="icon">
  <link href="public/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="public/vendor/aos/aos.css" rel="stylesheet">
  <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="public/css/style-anunturi.css" rel="stylesheet">




</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Filtrează anunțurile:</a></h1>


      <nav id="navbar" class="navbar">
        <form action="/indexAnunturiFiltre" method="post">
        <ul>
          <li><div class="selectForm" id="form1">
            <label for="form1">
              <h5>Tipul animalului:</h5>
            </label>
            <select id="vaccine1" name="Filters.AnimalType" onchange=updateFilters()>
              <option value="" selected>-none-</option>
              <option value="Pisică">Pisică</option>
              <option value="Câine">Câine</option>
            </select>
          </div></li>
          <li>  <div class="selectForm" id="form3">
              <label for="form3">
                <h5>Rasă:</h5>
              </label>
              <select id="form3" name="Filters.Breed" onchange=updateFilters()>
                <option value="Labrador">Labrador</option>
                <option value="Pechinez">Pechinez</option>
                <option value="Puddle">Puddle</option>
              </select>
            </div></li>
          <li><div class="selectForm" id="form2">
            <label for="form2">
              <h5>Rasă:</h5>
            </label>
            <select id="form2" name="Filters.Breed" onchange=updateFilters()>
              <option value="Birmaneză">Birmaneză</option>
              <option value="Albastru de Rusia">Albastru de Rusia</option>
              <option value="Norvegiană">Norvegiană</option>
            </select>
          </div></li>
          <li><div class="selectForm" id="form4">
            <label for="form4">
              <h5>Culoare:</h5>
            </label>
            <select id="form4" name="Filters.Color" onchange=updateFilters()>
              <option value="Negru">Negru</option>
              <option value="Alb">Alb</option>
              <option value="Maro">Maro</option>
              <option value="Portocaliu">Portocaliu</option>
              <option value="Multicolor">Multicolor</option>
            </select>
          </div>
  </li>
          <li><div class="selectForm" id="form5">
            <label for="form5">
              <h5>Vârstă:</h5>
            </label>
            <select id="form5" name="Filters.Age" onchange=updateFilters()>
              <option value="Pui">Pui</option>
              <option value="Matur">Matur</option>
            </select>
          </div>
  </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </form>
      </nav><!-- .navbar -->

    </div>


  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">

      </div>

      <!-- Vendor JS Files -->
      <script src="public/vendor/purecounter/purecounter.js"></script>
      <script src="public/vendor/aos/aos.js"></script>
      <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="public/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="public/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="public/vendor/php-email-form/validate.js"></script>


  <!--  Codul tău cu harta -->
<!--      <div id="map" style="width: 800px; height: 600px; z-index: -1"></div>-->
<!--      <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>-->
<!--      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--&lt;!&ndash;      <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css" rel="stylesheet" />&ndash;&gt;-->
<!--      <script src="public/js/map.js"></script>-->



<!--      {{range .locations}}-->
<!--      <script>-->
<!--        var currentCoord = [ {{.X}}, {{.Y}} ]-->
<!--        // console.log(currentCoord);-->
<!--        createMarker(currentCoord);-->

<!--      </script>-->
<!--      {{end}}-->

<!--      {{range .locationStrings}}-->
<!--      <script>-->
<!--        var currentString = {{.}}-->
<!--        // console.log(currentCoord);-->
<!--        funcer(currentString);-->

<!--      </script>-->
<!--      {{end}}-->
<!--      <link-->
<!--              href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css"-->
<!--              rel="stylesheet"-->
<!--      />-->


      </div>
  </section><!-- End Hero -->

  <br><br><br>
  <a href = "/map">Mergi la harta interactiva</a>
  <br><br><br>



    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      {{range .animalss}}
    <div class="data">
      <p>Numele animalului: {{.Name}}</p>
      <p>Tipul animalulul: {{.AnimalType}}</p>
      <p>Rasa animalului: {{.Breed}}</p>
      <p>Culoarea animalului: {{.Color}}</p>
      <p>Vârsta animalului: {{.Age}}</p>

    </div>
      {{end}}
    </section><!-- End About Section -->







  <!-- Template Main JS File -->
<!--  <script src="public/js/main.js"></script>-->

</body>

</html>
