<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contul meu</title>
  <link rel="stylesheet" href="public/css/styles-contul-meu.css">
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="public/vendor/aos/aos.css" rel="stylesheet">
  <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->


</head>

<body>


  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">
<div class="row">

  <nav id="navbar" class="navbar nav-menu">
    <ul>
        <li><a href="/anunturileTale" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Anunturile mele</span></a></li>
      <li><a href="#animale_gasite" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Animalele găsite de tine</span></a></li>
      <li><a href="/logout" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Deconectare</span></a></li>
      <li><a href="/" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Back to Home</span></a></li>
    </ul>
  </nav><!-- .nav-menu -->
</div>


  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <h1>Contul meu</h1>
      <p>Bine ai venit în echipa noastră! <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
    </div>
  </section>

  <!DOCTYPE html>
  <html>

  <body>

  <h3>Datele mele</h3>

  <div class="data">
  <p>Nume: {{.name}}</p>
  <p>Prenume: {{.surname}}</p>
  <p>Email: {{.email}}</p>
  <p>Numar de telefon: {{.phone}}</p>
  </div>

  </body>
  </html>


  <!-- Template Main JS File -->
<!--  <script src="public/js/main.js"></script>-->

</body>

</html>
