<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Congrats page</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'>
    <link rel="stylesheet" href="public/css/styles-sign.css">
  </head>
  <body>
    <h1> Felicitări!Contul tău a fost creat cu succes.</h1>
    <div class="form-group pt-1">
     <a href="/"> Înapoi la site</a>
    </div>
  </body>
</html>
