<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="public/css/felicitari.css">
  </head>

  <body style = "background-image:url('paws5.jpg');">
    <a href="/">Back Home<a>
    <br>
    <h1>Felicitări, contul tău a fost creat!</h1>



  </body>
</html>
