<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/css/voluntar.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>


<body style = "background-image:url(public/img/paws5.jpg);">
<a href="/">Back Home</a>
  <div class="butoane">
    <h1>Formular voluntar</h1>

    <br>
    <div class="Adresa principală 1:" id="form1">
      <label for="form1">
        <h5>Adresa principală 1:</h5>
      </label>
      <input type="text" name="Numeloc" value="">
    </div>
    <br>

    <div class="Adresa principală 2:" id="form2">
      <label for="form2">
        <h5>Adresa principală 2:</h5>
      </label>
      <input type="text" name="Numeloc" value="">
    </div>
    <br>

    <div class="Adresa principală 3:" id="form3">
      <label for="form3">
        <h5>Adresa principală 3:</h5>
      </label>
      <input type="text" name="Numeloc" value="">
    </div>
    <br>
    <div class="Adresa principală 3:" id="form3">
      <label for="form3">
        <h5>Adresă secundară:</h5>
      </label>
      <input type="text" name="Numeloc" value="">
    </div>
    <br>


    <div class="Submit" id="submit">
      <input type="submit" name="Submit" value="Submit">

      </form>
    </div>
  </div>


</body>

</html>
